<form (ngSubmit)="save()" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputName" class="col-md-12 col-form-label">slideshare iframe</label>
        <div class="col-md-12">
            <textarea type="text"
                      name="iframe"
                      [(ngModel)]="theory.iframe"
                      required
                      rows="7"
                      class="form-control"
                      id="inputName">
            </textarea>
        </div>
    </div>
    <div *ngIf="theory.file && theory.file.path" class="form-group">
        <label for="inputDescription" class="col-md-12 col-form-label">Предыдущий файл</label>
        <div class="col-md-12"><a download target="_blank" href="http://localhost:8000{{theory.file.path}}">{{theory.file.path}}</a>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-md-12 col-form-label">Файл</label>
        <div class="col-md-12">
            <input type="file"
                   name="file"
                   (change)="onSelectFile($event)"
                   class="form-control"
                   id="inputDescription">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        </div>
    </div>
</form>