<div class="col-md-12">
    <form (ngSubmit)="save()">

        <ul *ngIf="test">
            <li *ngFor="let question of test.questions; let questionIndex = index" id="question_{{questionIndex}}" class="row">

                <div class="col-md-8">

                    <div class="form-group">
                        <h6>Вопрос({{questionIndex + 1}}) - {{question.name}}</h6>
                        <input type="text" class="form-control" name="question-{{questionIndex}}" [(ngModel)]="question.name">
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li *ngFor="let answer of question.answers; let answerIndex = index">
                            <p>Ответ({{answerIndex + 1}}) - {{answer.name}}</p>
                            <div class="row">
                                <div class="col-md-10" [ngClass]="{'has-success': isSelected(questionIndex, answerIndex)}">
                                    <input [ngClass]="{'form-control-success': isSelected(questionIndex, answerIndex)}"
                                           class="form-control"
                                           type="text"
                                           name="question-{{questionIndex}}-answer-{{answerIndex}}"
                                           [(ngModel)]="answer.name">
                                </div>
                                <div class="col-md-2">
                                    <input type="radio"
                                           [checked]="question.answer_id === answer.id"
                                           (click)="setRightAnswer(questionIndex, answerIndex)">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </li>

        </ul>

        <div class="row">
            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
        </div>

    </form>

    <test-slider *ngIf="test" [questions]="test.questions"></test-slider>

</div>