<div class="row">
    <div class="col-md-12">
        <h3>Курсы</h3>

        <div class="row">
            <div class="col-md-6">

                <div class="list-group">
                    <course *ngFor="let course of courses.data" [course]="course" (onRemove)="removeCourse($event)"></course>
                </div>

                <div class="col-md-12">
                    <pagination [paginator]="courses"></pagination>
                </div>

            </div>

            <div class="col-md-5">
                <h4>Добавить</h4>

                <course-form [course]="course" (onSubmit)="addCourse($event)"></course-form>

            </div>
        </div>
    </div>
</div>