<div class="row">
    <div class="col-md-12">
        <h3>Урок - {{lesson.name}}</h3>
        <p *ngIf="lesson.description">Описание - {{lesson.description}}</p>
    </div>

    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <h3>Список тем</h3>

                <div class="list-group">
                    <a *ngFor="let unit of lesson.units"
                       [routerLink]="['/panel/courses/course/' + courseId + '/lesson/' + lesson.id + '/unit/' + unit.id]"
                       class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{unit.name}}</h5>
                            <small>
                                <button type="button" (click)="removeUnit($event, unit.id)" class="btn btn-danger btn-sm">Удалить</button>
                            </small>
                        </div>
                        <p class="mb-1">{{unit.description}}</p>
                        <a [routerLink]="['/panel/courses/edit/unit', unit.id]" class="btn btn-primary btn-sm">Редактировать</a>
                    </a>
                </div>

            </div>
            <div class="col-md-5">
                <h4>Добавить тему</h4>

                <form (ngSubmit)="addUnit()">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="name"
                                   [(ngModel)]="unit.name"
                                   required
                                   class="form-control"
                                   id="inputName">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Описание</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="description"
                                   [(ngModel)]="unit.description"
                                   class="form-control"
                                   id="inputDescription">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>