<div class="row">
    <div class="col-md-12">
        <h3>Тема - {{unit.name}}</h3>
        <p *ngIf="unit.description">Описание - {{unit.description}}</p>
    </div>

    <div class="col-md-12">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a [routerLink]="['theory']" [routerLinkActive]="['active']" class="nav-link">Теория</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['schema']" [routerLinkActive]="['active']" class="nav-link">Практика</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['test']" [routerLinkActive]="['active']" class="nav-link">Тест</a>
            </li>
        </ul>

        <router-outlet></router-outlet>

    </div>

</div>